<div class="large-12 float-left multiple-product">
	<h5>{{ content.field_product_title }}</h5>
	<div class="large12 float-left">
		<div class="large-9 float-left">
			<p>{{ content.field_product_promo_text.0 }}</p>
		</div>
		<div class="large-3 float-left multiple-product-image">
			{{ content.field_image }}
		</div>
	</div>
</div>