<div class="reveal" id="constantContact" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down">
{{ content }}
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>