
<div class="large-6 small-12 float-left">
	<div id="search-wrapper">
  		{% block content %}
    		{{ content }}
  		{% endblock %}
  		<div class="search-icon">
  		<i class="fas fa-search"></i>
  		</div>
  	</div>
</div>