<div class="large-6 small-12 medium-6 float-left hp-newsletter-signup"id="signup-schpiel"><img src="/sites/default/files/styles/farmer_schpiel/public/2020-08/green.png" alt="simple green background" />
	<div class="signup-wrapper">
		<div class="large-4 small-4 article-teaser float-left">
			{{ content }}
		</div>
		<div class="large-8 small-8 columns">
			<div class="signup-schpiel">
				<div class="hp-newsletter-signup-header">Sign Up For Our Newsletter</div>
				<a  data-open="constantContact"><input for="signup modal" placeholder="Email" size="30" maxlength="128"></a>
				<div class="hp-newsletter-signup-copy serif">
					Get news from Living Tree Community Foods in you inbox. Videos, contests, recipes, special, discounts and more! Stay up to date and be inspired to revitalize your spirit.
				</div>
			</div>
		</div>
	</div>
</div>