<ul class="accordion" data-accordion data-allow-all-closed="true">
 <li class="accordion-item is-active" data-accordion-item>
  <a href="#" class="accordion-title">See All</a>
  <div class="accordion-content" data-tab-content>
    <div{{ attributes }}>
      {{ content }}
    </div>
  </div>
  </li>
</ul>

