<div class="large-6 small-12 medium-6 float-left" id="farmer-schpiel">
	<div class="farmer-schpiel-wrapper">
		<div class="we-support-schpiel serif">We Support Family Farmers</div>
		<a href="/meet-the-farmers">{{ content }}</a>
		<div class="learn-more serif">Learn More About the Farmers Who Grow Your Food</div>
	</div>
</div>