<div class="large-3 small-6 columns float-left on-sale">
	<div id="on-sale">
	{{ product.variation_field_product_image}}
	</div>
	<div class="on-sale-title serif">{{ product.field_display_name.0 }}</div>
</div>