<div class="large-12 float-left">
	<div class="large-9 small-12 medium-12 float-left">
		<h5>{{ product.title.0 }}</h5>
	</div>
	<div class="large-3 small-3 medium-3 float-left">
		<div class="newsletter-promo-image">{{ product.variation_field_product_image }}</div>
	</div>
	<div class="large-9 small-12 medium-12 float-left">
		<div class="view-product-link-nlp serif"><a href="{{ product.variation_field_product_image[0]['#url'] }}">View product</a>
		</div>
	</div>
</div>
