<div class="large-12 float-left">
	<div class="large-12 columns">
		<strong class="serif">{{ content.field_reviewer.0 }}</strong><br/><div class="serif">{{ content.field_review_date.0 }}</div>
	</div>
	<div class="large-12 columns">
		<i class="fas fa-quote-left"></i><p class="italic">{{ content.field_review.0 }}</p>
	</div>
	<div class="large-12 columns">
		{{ content.field_rating }}
	</div>
</div>
