<div class="article-section" id="{{content.field_anchor_id.0}}">
<div class="large-12 float-left multiple-product">
	<h2>{{ content.field_headline.0 }}</h2>
	<div class="large-12 float-left">
		{{ content.field_text_area }}
	</div>
	{%if content.field_youtube_url %}
  {% for item in content.field_youtube_url|children %}
  <div class="large-12 columns">
    <div class="responsive-embed widescreen">  
      <iframe width="560" height="315" title="Editorial video" src="{{ item }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
</div>